@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Pacifico&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@700&display=swap');



*{
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}
a{
  text-decoration: none;
}
.instagram-card{
  top:42%;
  left:50%;
  transform: translate(-50%, -50%);
  max-width: 350px !important;
 
}
.card{
  border-radius: 0px !important;
}

.form-container{
  width:95%;
}


.instagram-card input{
  display:block;
  max-width: 100%;
  width:100%;
  margin-bottom: 5px;
  border:0px solid gray;
  padding:9px;
  border-radius: 2px;
  background-color: rgb(250,250,250);
  font-size:12px;
  padding:8px;
}
.instagram-card input:focus{
  outline: 0;
  border:1px solid gray !important;
}
.instagram-card button{
  width:100%;
  margin:16px 0px;
  color:white;
  font-family: poppins;
  font-size:14px !important;
  font-weight:500;
  border-radius:8px;
  padding: 7px 16px !important;
  transform: scaleY(0.9);
}

.instagram-card .or{
  font-size:12px;

}

.instagram-card .or::before{
  content:"";
  width:6.9em;
  background:rgb(219,219,219);
  height: 1px;
  position:absolute;
  left:5px;
  top:50%;
  transform: translateY(-50%);
}
.instagram-card .or::after{
  content:"";
  width:6.9em;
  background:rgb(219,219,219);
  height: 1px;
  position:absolute;
  right:5px;
  top:50%;
  transform: translateY(-50%);
}
.form-title img{
  width:13rem;
  margin-top:36px;
  margin-bottom: 12px;
}


.submit-btn{
  background:rgb(76,181,249);
  
}

.facebookLogIn a{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  left:15px;
  width:100%;
  color:rgb(56,81,133);

}
.facebookLogIn span{
  text-align: center;
  left:15px;
  font-size:15px;
  font-weight:600;
  margin-left:5px;
}
.facebookLogIn .icon{
  font-size:20px;
  
}

.forgettenPassword{
  font-size:12px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin:15px auto;
}

.forgettenPassword a{
  color:rgb(0,55,107);
}


/*sign up----------------------------*/
.sign-up{
  text-align: center;

}
.sign-up p, .getApp{
  text-align: center;
  margin:1em auto;
  font-weight: 400;
  font-size:15px;
}
.sign-up p a{
  font-weight: 600;
  font-size:14px;
}

.googlePlay_microsoft{
  display: flex;
  justify-content: space-between;
  width:77%;
  height:50px;
  position: relative;
  margin:0 auto;
}
.googlePlay_microsoft img{
  width:120px;
  float: left;
  height:2.4rem;
}


/*footer*/
footer{
  margin-bottom: 5rem;
  margin-top:-5rem;
}
footer ol{
  width:80%;
  position: relative;
  margin:auto;
  display: flex;
  list-style-type: none;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}

footer ol li{
  padding:0 10px;
  margin-bottom: 1rem;

}

footer ol li .select{
  border:none;
  padding:1;
  color:rgb(142,142,142);
  font-size:12px;
}

footer ol li .select:focus{
  box-shadow: none;
}

footer ol li a{
  color:rgb(142,142,142);
  font-size:12px;
}

footer ol li a:hover{
  color:rgb(104, 104, 104);

}

